asgiref==3.8.1
beautifulsoup4==4.12.3
Django==4.2.13
django-bootstrap-v5==1.0.11
django-ckeditor==6.7.1
django-environ==0.11.2
django-filter==24.2
django-js-asset==2.2.0
django-semantic-admin==0.5.0
django-semantic-forms==0.1.5
django-social-share==2.3.0
django-static-fontawesome==6.5.2.0
django-taggit==5.0.1
gunicorn==22.0.0
packaging==24.0
pillow==10.3.0
psycopg2==2.9.9
soupsieve==2.5
sqlparse==0.5.0
typing_extensions==4.12.0
tzdata==2024.1
unicorn==2.0.1.post1
whitenoise==6.6.0
